body {
    color: var(--gray-12);
    background: var(--color-background);
}

.radix-themes {
	--default-font-family: 'Hanken Grotesk', sans-serif;

    --radius-factor: 1;
    --radius-full: 0px;
    --radius-thumb: 9999px;

    --radius-1: calc(3px * var(--scaling) * var(--radius-factor));
    --radius-2: calc(4px * var(--scaling) * var(--radius-factor));
    --radius-3: calc(6px * var(--scaling) * var(--radius-factor));
    --radius-4: calc(8px * var(--scaling) * var(--radius-factor));
    --radius-5: calc(12px * var(--scaling) * var(--radius-factor));
    --radius-6: calc(16px * var(--scaling) * var(--radius-factor))
}