body {
  overflow: hidden;
  background: #000;
  color: #fff;
  font-family: "Manrope", "proxima-nova", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", "Lucida Sans", Tahoma, sans-serif;
}

#container {
  width: 720px;
  height: 720px;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}
#container.last_played {
  background: #111111;
}

h1 {
  font-family: "Manrope", "Gill Sans", "Gill Sans MT", Calibri, "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #8d9194;
  font-weight: normal;
  text-transform: uppercase;
}

@-webkit-keyframes hue {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg) blur(60px);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-filter: hue-rotate(15deg) blur(40px);
    transform: rotate(10deg) scale(1.2);
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg) scale(1.5);
  }
  to {
    transform: rotate(360deg) scale(1.5);
  }
}

.artwork {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 120%;
  opacity: 0.5;
  filter: blur(50px);
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-animation: hue linear 15s infinite;
}
.art_image {
  width: 500px;
  border-radius: 6px;
  position: relative;
  z-index: 2;
  margin-top: 30px;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.7);
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.track {
  font-weight: bold;
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 0px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-align: center;
}

.artist {
  font-size: 28px;
  margin-bottom: 6px;
  color: #f4f4f4;
  text-align: center;
}

.album {
  font-size: 20px;
  color: #8d9194;
  font-weight: 200;
  text-align: center;
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.number {
  font-weight: 100;
  margin-top: 7px;
  font-size: 13px;
  text-transform: uppercase;
  color: #8d9194;
  text-align: center;
}

.user {
  font-family: "Manrope", "Gill Sans", "Gill Sans MT", Calibri, "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin: 13px 0px 0px 20px;
}

.list {
  margin-left: 20px;
  position: relative;
  font-family: "Manrope", "Gill Sans", "Gill Sans MT", Calibri, "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: #d0d0d0;
}

.stat_box {
  background-color: #1c1c1e;
  border-radius: 8px;
  padding: 9px 10px 10px 14px;
  margin: 11px 0px 20px 20px;
  float: left;
  width: calc(50% - 54px);
  height: 140px;
  color: #d0d0d0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stat_box:last-of-type {
  margin-right: 20px;
}
.stat_box .track {
  font-size: 24px;
  text-transform: none;
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0px;
}
.stat_box .scrobbles {
  margin-top: 0px;
  font-size: 45px;
  color: #fff;
  text-align: center;
}
.stat_box .artist {
  margin-top: 8px;
  text-transform: none;
  font-size: 16px;
  color: #8d9194;
}
.stat_box .header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 0px 0px 15px;
}

.albums {
  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  height: 720px;
}
.top_albums {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.7);
}

.progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  margin-top: 8px;
}

.progress-time {
  min-width: 30px;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  transition: width 0.6s ease;
}

.progress-bar-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  width: 100%;
  margin: 0 8px;
}

.album-container {
  position: relative;
  display: flex;
}

.album-details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  width: 100%;
  z-index: 1;
}

.album-details .name {
  font-weight: bold;
  margin-bottom: 4px;
}

.album-details .album-artist {
  font-size: 12px;
  margin-bottom: 4px;
}

.album-details .play-count {
  font-size: 12px;
}

.album-image::after {
  background-image: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.45) 70%,
    rgba(0, 0, 0, 0.9)
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: -1px;
  width: 100%;
  border-radius: 6px;
}
